title = "Bernasaurus"
url = "/"
layout = "mainLayout"
is_hidden = "0"
robot_index = "index"
robot_follow = "follow"

[blogPosts]
pageNumber = "{{ :page }}"
postsPerPage = "10"
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "category"
postPage = "post"
==
<!-- Page Header -->
<!-- Set your background image for this header on the line below. -->
<header class="intro-header" style="background-image: url('{{ 'assets/img/skitty.jpg'|theme }}')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>Bernasaurus</h1>
                    <hr class="small">
                    <span class="subheading">Anxiety and Me</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <div class="post-preview">
                {% for post in posts %}
                <h2 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
                <p>
                    {% if post.excerpt %}
                        {{ post.excerpt }}
                    {% else %}
                        {{ post.content_html|raw }}
                    {% endif %}
                    <a href="{{ post.url }}">...read more</a>
                </p>

                <p class="post-meta">
                    Posted
                    {% if post.categories.count %} in {% endif %}
                    {% for category in post.categories %}
                        <a href="{{ category.url }}">{{ category.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                    on {{ post.published_at|date('M d, Y') }}
                </p>
                {% endfor %}
            </div>

            {% if posts.lastPage > 1 %}
            <ul class="pager">
                {% if posts.currentPage > 1 %}
                <li class="prev"><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage-1) }) }}">&larr; Prev</a></li>
                {% endif %}

                {% for page in 1..posts.lastPage %}
                <li class="{{ posts.currentPage == page ? 'active' : null }}">
                    <a href="{{ this.page.baseFileName|page({ (pageParam): page }) }}">{{ page }}</a>
                </li>
                {% endfor %}

                {% if posts.lastPage > posts.currentPage %}
                <li class="next"><a href="{{ this.page.baseFileName|page({ (pageParam): (posts.currentPage+1) }) }}">Next &rarr;</a></li>
                {% endif %}
            </ul>
            {% endif %}
        </div>
    </div>
</div>

<hr>